.pokemon-list-item {
  border-radius: 4px;
  background-color: red;
  color: white;
  height: 30px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 120px;
  cursor: pointer;
}

.pokemon-list-item:hover {
  background-color: orange;
}
